select {
  display: flex;
  align-items: center;
  width: 20%;
  height: 5vh;
}
select option {
  border: 1px soild black;
}
select option value {
  background: darkgrey;
}
input {
  display: flex;
  align-items: center;
  width: 20%;
  height: 5vh;
}
